<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matthew Gollaher</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/site.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="photo-header" class="text-center">
          <!-- <div id="photo">
            <img src="/static/img/avatar.jpg" alt="avatar">
          </div> -->
          <div id="text-header">
            <h1>Matthew Gollaher</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <!-- About Me -->
        <div class="box">
          <h2>ABOUT ME</h2>
          <p>
            I am a motivated computer science student seeking a software engineering position to apply my skills to the betterment of
            the company. I am a passionate programmer, and particularly enjoy learning and working with the newest technologies.
            My goal in any professional opportunity is to learn existing knowledge and practices, and share new ideas for
            innovation and growth.
        </div>
        <!-- Professional Experience -->
        <div class="box">
          <h2>Professional Experience</h2>
          <ul id="experience" class="clearfix">
            <li>
              <div class="year pull-left">2016</div>
              <div class="description pull-right">
                <h3>Daktronics, Inc. -&nbsp;Software&nbsp;Developer</h3>
                <ul>
                  <li>
                    Develop, debug, and maintain software applications, primarily using ASP.NET Core MVC technologies.
                  </li>
                  <li>
                    Perform code maintenance on exisisting software applications.
                  </li>
                  <li>
                    Contribute to a development team to solve problems, using Agile, Scrum, Kanban, Extreme Programming, and pair programming
                    development practices. </li>
                  <li>
                    Write unit and integration tests for new and existing code with C# and JS Jasmine.
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="year pull-left">2015</div>
              <div class="description pull-right">
                <h3>Daktronics, Inc. -&nbsp;Software&nbsp;Quality&nbsp;Assurance&nbsp;</h3>
                <ul>
                  <li>
                    Utilized Daktronics' testing tools and methodologies.
                  </li>
                  <li>
                    Discovered and reported numerous software defiencies.
                  </li>
                  <li>
                    Provided training and assitance for new employees.
                  </li>
                  <li>
                    Setup and maintained numerous LED displays used for testing.
                  </li>
                  <li>
                    Created and maintained test scripts with C# to perform automated testing.
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="year pull-left">2014</div>
              <div class="description pull-right">
                <h3>Gollaher Business Services -&nbsp;Data&nbsp;Analyst</h3>
                <ul>
                  <li>
                    Created reports using Business Objects and Microsoft Excel.
                  </li>
                  <li>
                    Created T-SQL queries in SSMS to pull data from tables.
                  </li>
                  <li>
                    Performed testing throughout multiple databases.
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- Education -->
        <div class="box">
          <h2>EDUCATION</h2>
          <div class="education clearfix">
            <div>
              <div class="profession">South Dakota State University</div>
              <div class="profession" style="font-size: 1.4em">Computer&nbsp;Science -&nbsp; 2014 - 2018</div>
              <div class="description">
                <ul>
                  <li>
                    Association for Computing Machinery (ACM) - Chapter Chair &amp; Tutor
                  </li>
                  <li>
                    Upsilon Pi Epsilon (UPE) - Chapter Vice Chair &amp; 2017 Scholarship Recipient
                  </li>
                  <li>
                    Joint Engineering Council (JEC) - Chapter Member
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <!-- Contact -->
        <div class="box clearfix">
          <h2>Contact</h2>
          <div class="contact-item">
            <a href="tel:6056901333">
              <div class="icon pull-left text-center">
                <span class="fa fa-phone fa-fw"></span>
              </div>
              <div class="title only pull-right">(605) 690-1333</div>
            </a>
          </div>
          <div class="contact-item">
            <a href="mailto:mattgollaher@gmail.com">
              <div class="icon pull-left text-center">
                <span class="fa fa-envelope fa-fw"></span>
              </div>
              <div class="title only pull-right">Mattgollaher@gmail.com</div>
            </a>
          </div>
          <div class="contact-item">
            <a href="https://github.com/14gollaher" target="_blank">
              <div class=" icon pull-left text-center ">
                <span class="fa fa-github fa-fw "></span>
              </div>
              <div class="title only pull-right ">Github.com/14gollaher</div>
            </a>
          </div>
          <div class="contact-item ">
            <a href="https://www.linkedin.com/in/mattgollaher/" target="_blank">
              <div class="icon pull-left text-center ">
                <span class="fa fa-linkedin fa-fw "></span>
              </div>
              <div class="title only pull-right ">Linkedin.com/in/mattgollaher
              </div>
            </a>
          </div>
          <div class="contact-item ">
            <a href="/static/files/GollaherResume.pdf" target="_blank">
              <div class="icon pull-left text-center ">
                <span class="fa fa-file-pdf-o fa-fw "></span>
              </div>
              <div class="title only pull-right ">Resume
              </div>
            </a>
          </div>
          <!-- Programming & Data Skills -->
          <div class="box ">
            <h2>Programming &amp; Data Skills</h2>
            <div class="skill">C</div>
            <div class="skill">C++</div>
            <div class="skill">C#</div>
            <div class="skill">.NET</div>
            <div class="skill">Python</div>
            <div class="skill">SQL</div>
            <div class="skill">Flask</div>
            <div class="skill">Django</div>
            <div class="skill">JavaScript</div>
            <div class="skill">jQuery</div>
            <div class="skill">TypeScript</div>
            <div class="skill">Knockout</div>
            <div class="skill">Vue.js</div>
            <div class="skill">Jasmine</div>
            <div class="skill">HTML</div>
            <div class="skill">CSS</div>
            <div class="skill">Bootstrap</div>
          </div>
          <!-- Software & Applications -->
          <div class="box">
            <h2>Software &amp; Applications</h2>
            <div class="skill">Visual Studio</div>
            <div class="skill">Team Foundation Server</div>
            <div class="skill">SQL Server Management Studio</div>
            <div class="skill">SQLite</div>
            <div class="skill">Azure</div>
            <div class="skill">Google Cloud Platform</div>
            <div class="skill">Word</div>
            <div class="skill">Visio</div>
            <div class="skill">Excel</div>
            <div class="skill">Balsamiq</div>
            <div class="skill">Unity</div>
            <div class="skill">Salesforce</div>
            <div class="skill">ServiceNow</div>
            <div class="skill">Git</div>
            <div class="skill">Github</div>
            <div class="skill">PythonAnywhere</div>
            <div class="skill">Windows OS</div>
            <div class="skill">Macintosh OS</div>
            <div class="skill">Linux OS</div>
            <div class="skill">AutoHotkey</div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
            <h2 style="text-align: center">My Projects</h2>
      </div>
      <div class="col-md-6">
        <div class="myWork clearfix">
          <div>
            <a href="https://github.com/14gollaher/Rock-Wall" target="_blank">
              <div class="profession">SDSU Rock Wall</div>
            </a>
            <div class="description">
              <p style="text-align: left">
                Web application for South Dakota State University Rock Wall.
              </p>
              <img src="/static/files/rockWall-1.PNG" style="width: 100%; height:100%;"></img>
              <br/>
              <br/>
              <img src="/static/files/rockWall-2.PNG" style="width: 100%; height:20%;"></img>
              <br/>
              <br/>
              <div class="skill">Python</div>
              <div class="skill">Flask</div>
              <div class="skill">CSS</div>
              <div class="skill">HTML</div>
              <div class="skill">JavaScript</div>
              <div class="skill">jQuery</div>
              <div class="skill">PythonAnywhere</div>
              <div class="skill">SQL</div>
              <div class="skill">SQLite</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="myWork clearfix">
          <div>
            <a href="https://github.com/14gollaher/Gollaher-Games" target="_blank">
              <div class="profession">Gollaher Games</div>
            </a>
            <div class="description">
              <p style="text-align: left">
                Web application with a vision to give players information on popular games. Application uses my personal API to retrieve game data. The 
                application is a definite work in progress, but I'm excited to share progress in the near future.
              </p>
              <div class="skill">C#</div>
              <div class="skill">.NET</div>
              <div class="skill">HTML 5</div>
              <div class="skill">CSS</div>
              <div class="skill">JavaScript</div>
              <div class="skill">TypeScript</div>
              <div class="skill">Knockout</div>
              <div class="skill">ASP.NET Core</div>
              <div class="skill">Azure</div>
              <div class="skill">JSON</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 myWorkDivider">
        <div class="myWork clearfix">
          <div>
            <a href="https://github.com/14gollaher/Cache-Money-Heroes" target="_blank">
              <div class="profession">Cache Money Heroes</div>
            </a>
            <div class="description">
              <p style="text-align: left">
                Cache Money Heroes is a product of my first, complete game made in C# & Unity.
              </p>
              <img src="/static/files/cmh-demo-1.gif" style="width: 100%; height:100%;"></img>
              <br/>
              <br/>
              <img src="/static/files/cmh-demo-2.gif" style="width: 100%; height:100%;"></img>
              <br/>
              <br/>
              <div class="skill">C#</div>
              <div class="skill">.NET</div>
              <div class="skill">Unity</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 myWorkDivider">
          <div class="myWork clearfix">
            <div>
              <a href="https://github.com/14gollaher/Tango" target="_blank">
                <div class="profession">Tango</div>
              </a>
              <div class="description">
                <p style="text-align: left">
                  Tango serves as a Django Test Module. The application's vision is to allow for auto-manualization
                  UI testing, and is a work in progress for my senior design project.
                </p>
                <div class="skill">Python</div>
                <div class="skill">Django</div>
                <div class="skill">HTML 5</div>
                <div class="skill">CSS</div>
                <div class="skill">JavaScript</div>
                <div class="skill">jQuery</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 myWorkDivider">
            <div class="myWork clearfix">
              <div>
                <a href="https://github.com/14gollaher/Matthew-Gollaher-API" target="_blank">
                  <div class="profession">Matthew Gollaher API</div>
                </a>
                <div class="description">
                  <p style="text-align: left">
                      My personal REST API. The application is a "Service Orientated Architecture" like application to serve data for numerous applications/purposes.
                  </p>
                  <div class="skill">C#</div>
                  <div class="skill">.NET</div>
                  <div class="skill">MVC</div>
                  <div class="skill">REST</div>
                  <div class="skill">SOA</div>
                  <div class="skill">ASP.NET Core</div>
                  <div class="skill">SQL</div>
                  <div class="skill">Azure</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js "></script>
<script src="/static/js/scripts.js "></script>

</html>