<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Matthew Gollaher</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/site.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="photo-header" class="text-center">
          <div id="photo">
            <img src="/static/img/avatar.jpg" alt="avatar">
          </div>
          <div id="text-header">
            <h1>Matthew Gollaher</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <!-- About Me -->
        <div class="box">
          <h2>ABOUT ME</h2>
          <p>
            Motivated computer science student seeking a software engineering position to apply my skills to the betterment of the company. I am
            a passionate programmer, and particularly enjoy learning and working with the newest technologies. My goal in
            any professional opportunity is to learn existing knowledge and practices, and share new ideas for innovation and
            growth. 
        </div>
        <!-- Professional Experience -->
        <div class="box">
          <h2>Professional Experience</h2>
          <ul id="experience" class="clearfix">
              <li>
                  <div class="year pull-left">2016</div>
                  <div class="description pull-right">
                    <h3>Daktronics, Inc. -&nbsp;Software&nbsp;Developer</h3>
                    <ul>
                      <li>
                        Develop, debug, and maintain software applications, primarily using ASP.NET Core MVC technologies.
                      </li>
                      <li>
                        Perform code maintenance on exisisting software applications.
                      </li>
                      <li>
                        Contribute to a development team to solve problems, using Agile, Scrum, Kanban, Extreme Programming, and pair programming
                        development practices. </li>
                      <li>
                        Write unit and tintegration tests for new and existing code with C# and JS Jasmine.
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                    <div class="year pull-left">2015</div>
                    <div class="description pull-right">
                      <h3>Daktronics, Inc. -&nbsp;Software&nbsp;Quality&nbsp;Assurance&nbsp;</h3>
                      <ul>
                        <li>
                          Utilized Daktronics' testing tools and methodologies.
                        </li>
                        <li>
                          Discovered and reported numerous software defiencies.
                        </li>
                        <li>
                          Provided training and assitance for new employees.
                        </li>
                        <li>
                          Setup and maintained numerous LED displays used for testing.
                        </li>
                        <li>
                          Created and maintained test scripts with C# to perform automated testing.
                        </li>
                      </ul>
                    </div>
                  </li>
            <li>
              <div class="year pull-left">2014</div>
              <div class="description pull-right">
                <h3>Gollaher Business Services -&nbsp;Data&nbsp;Analyst</h3>
                <ul>
                  <li>
                    Created reports using Business Objects and Microsoft Excel.
                  </li>
                  <li>
                    Created T-SQL queries in SSMS to pull data from tables.
                  </li>
                  <li>
                    Performed testing throughout multiple databases.
                  </li>
                </ul>
              </div>
            </li>
  

          </ul>
        </div>
        <!-- Education -->
        <div class="box">
          <h2>EDUCATION</h2>
          <div class="education clearfix">
            <div>
                <div class="profession">South Dakota State University</div>
              <div class="profession" style="font-size: 1.4em">Computer&nbsp;Science -&nbsp; 2014 - 2018</div>
              <div class="description">
                <ul>
                  <li>
                    Association for Computing Machinery (ACM) - Chapter Chair &amp; Tutor
                  </li>
                  <li>
                    Upsilon Pi Epsilon (UPE) - Chapter Vice Chair &amp; 2017 Scholarship Recipient
                  </li>
                  <li>
                    Joint Engineering Council (JEC) - Chapter Member
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5">
        <!-- Contact -->
        <div class="box clearfix">
          <h2>Contact</h2>
          <div class="contact-item">
            <a href="tel:6056901333">
              <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
              <div class="title only pull-right">(605) 690-1333</div>
            </a>
          </div>
          <div class="contact-item">
            <a href="mailto:mattgollaher@gmail.com">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right">Mattgollaher@gmail.com</div>
            </a>
          </div>
          <div class="contact-item">
            <a href="https://github.com/14gollaher" target="_blank">
              <div class=" icon pull-left text-center "><span class="fa fa-github fa-fw "></span></div>
              <div class="title only pull-right ">Github.com/14gollaher</div>
            </a>
          </div>
          <div class="contact-item ">
            <a href="https://www.linkedin.com/in/mattgollaher/" target="_blank">
              <div class="icon pull-left text-center "><span class="fa fa-linkedin fa-fw "></span></div>
              <div class="title only pull-right ">Linkedin.com/in/mattgollaher
              </div>
            </a>
          </div>
          <div class="contact-item ">
              <a href="/static/files/GollaherResume.pdf" target="_blank">
                <div class="icon pull-left text-center "><span class="fa fa-file-pdf-o fa-fw "></span></div>
                <div class="title only pull-right ">Resume
                </div>
              </a>
            </div>
        <!-- Programming & Data Skills -->
        <div class="box ">
          <h2>Programming &amp; Data Skills</h2>
          <div class="skill">C</div>
          <div class="skill">C++</div>
          <div class="skill">C#</div>
          <div class="skill">.NET</div>
          <div class="skill">Python</div>
          <div class="skill">SQL</div>
          <div class="skill">Flask</div>
          <div class="skill">Django</div>
          <div class="skill">JavaScript</div>
          <div class="skill">jQuery</div>
          <div class="skill">TypeScript</div>
          <div class="skill">Knockout</div>
          <div class="skill">Vue.js</div>
          <div class="skill">Jasmine</div>
          <div class="skill">HTML</div>
          <div class="skill">CSS</div>
          <div class="skill">Bootstrap</div>
        </div>
        <!-- Software & Applications -->
        <div class="box">
          <h2>Software &amp; Applications</h2>
          <div class="col-sm-6 col-xs-6" style="padding-right: 3px">
            <div class="softwares softwares-full">Visual Studio</div>
            <div class="softwares softwares-medium">Visual Studio</div>
            <div class="softwares softwares-short">Visual Studio</div>
            <div class="softwares softwares-full">Team Foundation Server</div>
            <div class="softwares softwares-medium">Team Foundation Server</div>
            <div class="softwares softwares-short">TFS</div>
            <div class="softwares softwares-full">SQL Server Management Studio</div>
            <div class="softwares softwares-medium">SSMS</div>
            <div class="softwares softwares-short">SSMS</div>
            <div class="softwares softwares-full">SQLite</div>
            <div class="softwares softwares-medium">SQLite</div>
            <div class="softwares softwares-short">SQLite</div>
            <div class="softwares softwares-full">Azure</div>
            <div class="softwares softwares-medium">Azure</div>
            <div class="softwares softwares-short">Azure</div>
            <div class="softwares softwares-full">Google Cloud Platform</div>
            <div class="softwares softwares-medium">Google Cloud Platform</div>
            <div class="softwares softwares-short">GCP</div>
            <div class="softwares softwares-full">Word</div>
            <div class="softwares softwares-medium">Word</div>
            <div class="softwares softwares-short">Word</div>
            <div class="softwares softwares-full">Visio</div>
            <div class="softwares softwares-medium">Visio</div>
            <div class="softwares softwares-short">Visio</div>
            <div class="softwares softwares-full">Excel</div>
            <div class="softwares softwares-medium">Excel</div>
            <div class="softwares softwares-short">Excel</div>
            <div class="softwares softwares-full">Balsamiq</div>
            <div class="softwares softwares-medium">Balsamiq</div>
            <div class="softwares softwares-short">Balsamiq</div>
          </div>
          <div class="col-sm-6 col-xs-6" style="padding-left: 3px">
            <div class="softwares softwares-full">Unity</div>
            <div class="softwares softwares-medium">Unity</div>
            <div class="softwares softwares-short">Unity</div>
            <div class="softwares softwares-full">Salesforce</div>
            <div class="softwares softwares-medium">Salesforce</div>
            <div class="softwares softwares-short">Salesforce</div>
            <div class="softwares softwares-full">ServiceNow</div>
            <div class="softwares softwares-medium">ServiceNow</div>
            <div class="softwares softwares-short">ServiceNow</div>
            <div class="softwares softwares-full">Git</div>
            <div class="softwares softwares-medium">Git</div>
            <div class="softwares softwares-short">Git</div>
            <div class="softwares softwares-full">Github</div>
            <div class="softwares softwares-medium">Github</div>
            <div class="softwares softwares-short">Github</div>
            <div class="softwares softwares-full">PythonAnywhere</div>
            <div class="softwares softwares-medium">PythonAnywhere</div>
            <div class="softwares softwares-short">PythonAnywhere</div>
            <div class="softwares softwares-full">Windows OS</div>
            <div class="softwares softwares-medium">Windows OS</div>
            <div class="softwares softwares-short">Windows OS</div>
            <div class="softwares softwares-full">Macintosh OS</div>
            <div class="softwares softwares-medium">Macintosh OS</div>
            <div class="softwares softwares-short">Macintosh OS</div>
            <div class="softwares softwares-full">Linux OS</div>
            <div class="softwares softwares-medium">Linux OS</div>
            <div class="softwares softwares-short">Linux OS</div>
            <div class="softwares softwares-full">AutoHotkey</div>
            <div class="softwares softwares-medium">AutoHotkey</div>
            <div class="softwares softwares-short">AutoHotkey</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
  <!-- BOOTSTRAP -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js "></script>
  <!-- SCRIPTS -->
  <script src="/static/js/scripts.js "></script>
</body>

</html>